.support {
    font-family: var(--font-secondary);
    color: var(--color-primary);
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-side);
    padding-top:var(--header-height);
  }
  .introSection{
      text-align: center;
      margin-bottom: var(--spacing-xl);
      padding-top:var(--header-height);
  }
  .introSection h2{
          font-size: 2rem;
      margin-bottom: var(--spacing-sm);
        color: var(--color-primary);
          font-family: var(--font-primary);
  }
  .introSection p{
      margin-bottom: var(--spacing-sm);
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
  }
  .contactInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-xl);
  }
  
  .contactInfo > div {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-xs);
  }
  
  .contactIcon {
    font-size: 1.25rem;
    margin-right: var(--spacing-xs);
      color: var(--color-primary);
  }
  
  .requestSection {
    margin-bottom: var(--spacing-xl);
  }
  
  .requestSection h2 {
    font-size: 1.75rem;
    margin-bottom: var(--spacing-sm);
    color: var(--color-primary);
      font-family: var(--font-primary);
  }
  
  .attachmentContainer {
    margin-bottom: var(--spacing-md);
  }
  .attachmentLabel{
    background-color: #f0f0f0;
      border: 1px solid #ddd;
      padding: var(--spacing-sm);
    cursor: pointer;
     display: inline-block;
    border-radius: 4px;
  }
  .attachmentInput {
      display: none;
  }
  .attachmentList {
      list-style-type: none;
        padding: 0;
    margin: var(--spacing-xs-ide) 0;
  }
  .attachmentList li {
      background-color: #f0f0f0;
       padding: var(--spacing-sm);
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: var(--spacing-xs-ide)
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer {
    margin-top: auto;
    padding: var(--spacing-sm);
    text-align: center;
      background-color: #f0f0f0;
      border-top: 1px solid #ddd;
  }
  
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: white;
    padding: var(--spacing-md);
      border: 1px solid #ddd;
    border-radius: 8px;
      width: 400px;
  }
  .modalContent h2 {
    font-size: 1.5rem;
        color: var(--color-primary);
          font-family: var(--font-primary);
    margin-bottom: var(--spacing-md);
  }
  
  .modalButtonGroup {
    display: flex;
      justify-content: flex-end;
  }
  .modalCloseButton{
    background-color: transparent;
    border: none;
      cursor: pointer;
    margin-left: var(--spacing-sm);
  }
  @media (max-width: 768px) {
        .introSection h2{
          font-size: 1.75rem;
      }
       .modalContent {
          width: 90%;
      }
  }